* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', 'sans-seif';
    box-sizing: border-box;
}

.container {
    display: flex;
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(200deg, black, rgb(98, 195, 228));
    padding: 10px;
}

.todo-app {
    display: flex;
    flex: 1;
    width: 100%;
    max-width: 540px;
    background-color: white;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}

.todo-app h2 {
    color: black;
    text-align: center;
    margin-bottom: 20px;
}

.todo-app img{
    display: inline-block;
    margin: 5px 10px;
    width: 30px;
    height: 30px;
}